include README.md
include CHANGELOG.md
include pyproject.toml
include MANIFEST.in
include LICENSE

# Include everything inside docs and doc-latex
recursive-include docs *

# Include all source code inside somos
recursive-include hmo *

# Include example notebooks
include *.ipynb

# Include md files
include *.md
