include README.md
include CHANGELOG.md
include pyproject.toml
include MANIFEST.in
include LICENSE

# Include everything inside docs and doc-latex
recursive-include docs *

# Include all source code inside hmo
recursive-include hmo *
recursive-include hmo/Fonts *
recursive-include hmo/icons-logos-banner *

# Include example notebooks
include *.ipynb

# Include md files
include *.md

# Exclude develomment previous versions and the Biblio folder (copyright articles)
global-exclude *.py[cod] __pycache__/*
exclude *dev/*
exclude Biblio/*
exclude *dev.py
# Do not include additional graphic material, for developpers (but available on github)
exclude Design_ofMOdiagram/*
exclude icons/*
exclude hmo/Examples-dev/*
# Do not include the pyInstaller-related stuff
prune hmo/build
prune hmo/dist
prune hmo/HMO-Installer-Linux
prune hmo/Tutorials
exclude hmo/HMO-Installer.tar.gz
exclude hmo/installer/HMO
