include README.md
include CHANGELOG.md
include pyproject.toml
include MANIFEST.in
include LICENSE

# Include everything inside docs and doc-latex
recursive-include docs *

# Include all source code inside hmo
recursive-include hmo *

# Include example notebooks
include *.ipynb

# Include md files
include *.md

# Exclude develomment previous versions and the Biblio folder (copyright articles)
exclude dev/*
exclude Biblio/*
exclude *dev.py
# Do not include additional graphic material, for developpers (but available on github)
exclude Design_ofMOdiagram *
exclude icons *
